h1 {
    font-size: 1.3em;
    color: #844;
    font-style: bold;    
}
table#board td {
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    vertical-align: middle;
    border: solid 1px #ddd;
}
table#board td.alive {
    background-color: green;
}
table#board td.dead {
    background-color: red;
}

.steps {
    border:2 px solid blue;
    margin:20px 0px 20px 0px ;
}

.tile-container {
    padding:10px 30px 30px 30px;
}